body{
    background-color: rgb(229, 218, 218);
}

h1 {
    color: rgb(2, 4, 15);
}

nav{
    background-color: #E59500;
    border: #002642 5px solid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.Ravi {
    height: auto;
    width: 25em;
    float: left;
}
